[Unit]
Description=Opabinia Sensor Engine
After=pigpiod.service
Restart=always
StartLimitIntervalSec=0
RestartSec=10

[Service]
User=root
Group=www-data
WorkingDirectory=/home/pi/web/Opabinia/
ExecStart=/home/pi/web/Opabinia/app/measurer.py

[Install]
WantedBy=multi-user.target

