{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <h2> {{ pagetitle }} </h2>
            </div>
            <div class="col-md-12">
                <a href="{{ url_for('ep_index') }}">
                  <img src="/static/images/opabinia.png" width="80%">
                </a>
            </div>
            <div class="col-md-12">
              {{ text }}
            </div>
          </div>
          <div class="row" style="margin-top:15px;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <div class="col-md-12">
                <a href="{{ baseurl }}/default" class="btn btn-sm btn-primary {%- if timespan=='default' -%} active {%- endif -%}" style="width: 100%;">
                  Default
                </a>
              </div>
              <div class="col-md-12">
                <a href="{{ baseurl }}/1" class="btn btn-sm btn-primary {%- if timespan=='1' -%} active {%- endif -%}" style="width: 100%;">
                  One hour
                </a>
              </div>
              <div class="col-md-12">
                <a href="{{ baseurl }}/2" class="btn btn-sm btn-primary {%- if timespan=='2' -%} active {%- endif -%}" style="width: 100%;">
                  Two hours
                </a>
              </div>
              <div class="col-md-12">
                <a href="{{ baseurl }}/4" class="btn btn-sm btn-primary {%- if timespan=='4' -%} active {%- endif -%}" style="width: 100%;">
                  Four hours
                </a>
              </div>
              <div class="col-md-12">
                <a href="{{ baseurl }}/8" class="btn btn-sm btn-primary {%- if timespan=='8' -%} active {%- endif -%}" style="width: 100%;">
                  Eight hours
                </a>
              </div>
              <div class="col-md-12">
                <a href="{{ baseurl }}/fullday" class="btn btn-sm btn-primary {%- if timespan=='fullday' -%} active {%- endif -%}" style="width: 100%;">
                  Full day
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div style="overflow: auto; height: 400px;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col col-sm-6">
                    Time
                  </th>
                  {% if pointlike %}
                    <th class="col col-sm-3">
                      Event
                    </th>
                  {% else %}
                     <th class="col col-sm-3">
                      Passages
                    </th>
                    <th class="col col-sm-3">
                      Room Contents
                    </th>
                 {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for ent in entries %}
                <tr>
                  <td>
                    {% if ent.time %}
                      {{ ent.time.strftime('%H:%M:%S') }}
                    {% else %}
                      ---
                    {% endif %}
                  </td>
                  {% if not pointlike %}
                    <td>
                      {{ ent.abscount }}
                    </td>
                 {% endif %}
                  <td>
                    {% if ent.count < 0 %}
                      <span style="color: red; font-weight: bold;">
                    {% endif %}
                      {{ "%+i" % ent.count }}
                    {% if ent.count < 0 %}
                      </span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}

