{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h2> {{ pagetitle }} for {{ queryDate.strftime(niceDateFormat) }} </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <a href="{{ baseurl }}/today"
                 class="btn btn-sm btn-primary {%- if reqdate=='today' -%} active {%- endif -%}" style="width: 100%;">
                Today
              </a>
            </div>
            <div class="col-md-3 col-sm-3">
              <a href="{{ baseurl }}/yesterday"
                 class="btn btn-sm btn-primary {%- if reqdate=='yesterday' -%} active {%- endif -%}" style="width: 100%;">
                Yesterday
              </a>
            </div>
            <div class="col-md-3 col-sm-3" style="text-align: center; margin-bottom: 12px;">
                <img src="/static/images/opabinia.png" height="35px">
            </div>
            <div class="col-md-3 col-sm-3">
              <a href=" {{ url_for('ep_chooseday',target=cdtarget) }} "
                 class="btn btn-sm btn-primary" style="width: 100%;">
                Other ...
              </a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
          {{ text }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-sm-6">

          <svg class="chart" viewBox="0 0 600 330" preserveAspectRatio="none"></svg>
          <script>
            var reqDate = "{{reqdate}}";
            var plotType= "{{pagetype}}";
          </script>
          <script src="/static/d3/d3.min.js" charset="utf-8"></script>
          <script src="/static/plots/plots.js" charset="utf-8"></script>
        </div>
        <div class="col-md-5 col-sm-6" style="margin-bottom: 80px;">
          <div style="overflow: auto; height: 400px;">
            <table class="table table-hover">
              <thead>
                <tr>
                  {% if pagetype == 'Hits' %}
                    <th class="col col-sm-6">
                      Time
                    </th>
                    <th class="col col-sm-6">
                      Hit
                    </th>
                  {% else %}
                    <th class="col col-sm-3">
                      Time
                    </th>
                    <th class="col col-sm-2">
                      Hits
                    </th>
                    <th class="col col-sm-2">
                      In hits
                    </th>
                    <th class="col col-sm-3">
                      People in
                    </th>
                    <th class="col col-sm-2">
                      Sign
                    </th>
                 {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for ent in entries %}
                <tr>
                  <td>
                    {{ ent.time.strftime('%H:%M:%S') }}
                  </td>
                  {% if pagetype != 'Hits' %}
                    <td>
                      {{ ent.abscount }}
                    </td>
                    <td>
                      {{ ent.ins }}
                    </td>
                  {% endif %}
                  <td>
                    {% if ent.count < 0 %}
                      <span style="color: red; font-weight: bold;">
                    {% endif %}
                      {{ "%+i" % ent.count }}
                    {% if ent.count < 0 %}
                      </span>
                    {% endif %}
                  </td>
                  {% if pagetype != 'Hits' %}
                    <td>
                      {% if ent.sign < 0 %}
                        <span style="color: cyan; font-weight: bold;">
                          &#x21D7;
                        </span>
                      {% elif ent.sign > 0 %}
                        <span style="color: red; font-weight: bold;">
                          &#x2198;
                        </span>
                      {% else %}
                        <span style="color: grey;">
                          &#x2501;
                        </span>
                      {% endif %}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}

